---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=qMkRHW9zE1c&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/LjU2XzCNfEjErU64pGHQLylE0_o"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/LjU2XzCNfEjErU64pGHQLylE0_o\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/TZE52Q9WwlK6Ngjpkpj8J7iyp0s\"",
           "id": "qMkRHW9zE1c",
           "snippet": {
            "publishedAt": "2018-01-18T17:27:08.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Prework - Environment Setup",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Prework - Environment Setup",
             "description": ""
            }
           },
           "contentDetails": {
            "duration": "PT12M38S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "statistics": {
            "viewCount": "253",
            "likeCount": "1",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "0"
           }
          }
         ]
        }
  recorded_at: Fri, 29 Mar 2019 00:48:00 GMT
recorded_with: VCR 4.0.0
