---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL1Y67f0xPzdN6C-LPuTQ5yzlBoz2joWa5&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/V4_CukxQGi9ESTHg3BoBa6xolqg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/V4_CukxQGi9ESTHg3BoBa6xolqg\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/PdomPBlm0ByFPx2GsWXeUkL8CRU\"",
           "id": "PL1Y67f0xPzdN6C-LPuTQ5yzlBoz2joWa5",
           "snippet": {
            "publishedAt": "2018-01-18T17:18:29.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Back End Engineering - Prework",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/XsPVWGKK0qI/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/XsPVWGKK0qI/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/XsPVWGKK0qI/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/XsPVWGKK0qI/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/XsPVWGKK0qI/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "localized": {
             "title": "Back End Engineering - Prework",
             "description": ""
            }
           }
          }
         ]
        }
  recorded_at: Fri, 29 Mar 2019 00:48:00 GMT
recorded_with: VCR 4.0.0
