---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&part=snippet,contentDetails&playlistId=PL1Y67f0xPzdN6C-LPuTQ5yzlBoz2joWa5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/fUtgp58HHoWJ2wRUFpYqEbZupQw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/fUtgp58HHoWJ2wRUFpYqEbZupQw\"",
         "pageInfo": {
          "totalResults": 4,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/LCdbmNdaL-N9FE4GXiMnW2j4blE\"",
           "id": "UEwxWTY3ZjB4UHpkTjZDLUxQdVRRNXl6bEJvejJqb1dhNS41NkI0NEY2RDEwNTU3Q0M2",
           "snippet": {
            "publishedAt": "2018-01-18T17:18:47.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Prework - Environment Setup",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/qMkRHW9zE1c/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Turing School of Software and Design",
            "playlistId": "PL1Y67f0xPzdN6C-LPuTQ5yzlBoz2joWa5",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "qMkRHW9zE1c"
            }
           },
           "contentDetails": {
            "videoId": "qMkRHW9zE1c",
            "videoPublishedAt": "2018-01-18T17:27:08.000Z"
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/McFV3p-odlvwTZXiRyYsSgV6NgA\"",
           "id": "UEwxWTY3ZjB4UHpkTjZDLUxQdVRRNXl6bEJvejJqb1dhNS4yODlGNEE0NkRGMEEzMEQy",
           "snippet": {
            "publishedAt": "2018-01-18T21:06:35.000Z",
            "channelId": "UC2zYYOtckevoWTGDu5SdCkg",
            "title": "Prework - SSH Key Setup",
            "description": "",
         [...]
